.tables{
    width: 100%;
  }
  .tables tr{
    line-height: 80px;
  }
  .tables th:not(:first-child){
       width: 150px;
  }
  #icon_admin{
   display: flex;
   justify-content: space-between;
   width: 100px;
  }
  #paging{
    float: right;
  }
  .modal-contain{
      position: absolute;
      top:5%;
      width: 50%;
      height:80%;
      left: 30%;
      /* background-color:rgba(232, 223, 223, 0.92); */
  }
  .row-toolbar{
      height: 200px;
      width: 100%;
      /* background-color: rebeccapurple; */
  }
  
  @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
  
  .info-msg,
  .success-msg,
  .warning-msg,
  .error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    width: 600px;
    position: absolute;
    right: -1px;
    z-index: 100;
  }
  .info-msg {
    color: #059;
    background-color: #BEF;
  }
  .success-msg {
    color: #270;
    background-color: #DFF2BF;
  }
  .warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
  }
  .error-msg {
    color: #D8000C;
    background-color: #FFBABA;
  }
  
  /* Just for CodePen styling - don't include if you copy paste */
  html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  
  }
  
    /* ======= Buttons ======== */
    
    /* Block */
  
    
    /* Modifier */
  #group-form{
    display: flex;
    align-items: center;
    justify-items: center;
  }