
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">ĐIỀU KHIỂN</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">DANH MỤC QUẢN LÍ</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables" [hidden]="hide" >
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" [routerLink]="['/product']" routerLinkActive="router-link-active">Homestay</a></li>
           <li class="nav-item"> <a class="nav-link" [routerLink]="['/category']" routerLinkActive="router-link-active">Loại Homestay</a></li>
           <li class="nav-item"> <a class="nav-link" [routerLink]="['/order']" routerLinkActive="router-link-active">Đơn Hàng</a></li>
           <li class="nav-item"> <a class="nav-link" [routerLink]="['/customer']" routerLinkActive="router-link-active">Khách Hàng</a></li>
           <!-- <li class="nav-item"> <a class="nav-link" [routerLink]="['/employee']" routerLinkActive="router-link-active">Nhân Viên</a></li> -->
           <li class="nav-item"> <a class="nav-link" [routerLink]="['/account']" routerLinkActive="router-link-active">Tài khoản</a></li>
           <li class="nav-item"> <a class="nav-link" [routerLink]="['/new']" routerLinkActive="router-link-active">Tin tức</a></li>
        </ul>
      </div>
    </li>
  
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">NGƯỜI DÙNG</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" (click)="logout()"> Đăng Xuất </a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>