.tables{
    width: 100%;
  }
  .tables tr{
    line-height: 60px;
  }
 
  #icon_admin{
   display: flex;
   justify-content: space-between;
   width: 100px;
  }
  #paging{
    float: right;
  }

  .modal-contain{
    position: absolute;
    top:5%;
    width: 50%;
    height:80%;
    left: 30%;
    /* background-color:rgba(232, 223, 223, 0.92); */
}
.row-toolbar{
    height: 200px;
    width: 100%;
    
    /* background-color: rebeccapurple; */
}

.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
  position: absolute;
  top: 20%;
  right: 10%;
  height: 70px;
  width: 300px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
  position: absolute;
  top: 20%;
  right: 10%;
  height: 70px;
  width: 300px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}