<div class="row-toolbar">
  <div class="success-msg" [hidden]="send_success">
    <i class="fa fa-envelope">GỬI THÀNH CÔNG</i>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"><button type="button" (click)="Show()" class="btn btn-success"><i class="fa fa-plus">Thêm</i></button></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <select name="" id="" (change)="sizeChange($any($event))">
        <option *ngFor="let item of table_numberSize"  value="{{item}}">{{item}}</option>
     
      </select>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-md-2" style="float: right;">
        <!-- <div class="form-group">
         <label for="">Loại homestay</label>
         <select class="custom-select" name="" id="" (change)="filter($any($event))" >
            <option value="0">Tất cả</option>
           <option  *ngFor="let item of category" value={{item.id}}>{{item.tenloai}}</option>
         </select>
        </div> -->
   </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search" id="searchs">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Tìm kiếm</button>
      </form>
    </div>
  </nav>
  
    <!-- <div class="info-msg" [hidden]="add_succes">
      <i class="fa fa-info-circle"></i>
      This is an info message.
    </div>
     -->
  
    
     <!--<div class="warning-msg" [hidden]="add_succes">
      <i class="fa fa-warning"></i>
      This is a warning message.
    </div> -->
    
    <!-- <div class="error-msg" [hidden]="delete_succes">
      <i class="fa fa-times-circle"></i>
     XÓA THÀNH CÔNG
    </div> -->


     <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand"><button type="button" (click)="Show(0)" class="btn btn-success"><i class="fa fa-plus">Thêm</i></button></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     <div> -->
      
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link disabled" href="#"></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchs">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
        </form>
      </div>
    </nav> -->

    <div class="modal-contain" [hidden]="active">
      <form [formGroup]="formMail" (submit)="SendEmail(formMail.value)">
        <div class="modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">GỬI MAIL</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="close()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
  
            <div class="modal-body">
              <div style="height: 200px;margin-top: 30px;">
                <p>Gửi đến: {{email}}</p>
              </div>
              <div class="form-group" id="group-form">
                <div style="display: none;">
                  <label for="">Tên homestay </label> <span>*</span>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="idsp"    >
                </div>
                <div class=" col-md-5">
                  <label for="">Tiêu đề</label> <span>*</span>
                  <span *ngIf="tieude.invalid && (tieude.dirty || tieude.touched)">
                    <span *ngIf="tieude.errors?.['required']"
                      >Tiêu đề không được rỗng</span></span>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="tieu_de"    >
                </div>
              </div> 
                <div class="form-group">
                  <label for="">Nội dung</label>
                  <ckeditor formControlName="noidung" [editor]="Editor"></ckeditor>
                </div> 
                <!-- <div class="form-group">
                    <label for="">Số lượng</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" formControlName="txt_soluong" >
                  </div>  -->
                 
                
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Gửi</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>




<div class="container">
    <table class="tables">
      <thead>
        <tr>
          <th style="width: 50px">STT</th>
          <th>Tên Khách Hàng</th>
          <th>Địa chỉ </th>
          <th>Email</th>
          <th>Số Điện Thoại</th>
          <th>Chức năng</th>

       
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of customer
              | paginate
                :{
                    itemsPerPage: tablesize,
                    currentPage: page,
                    totalItems: count
                  };let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ item.tenKh }}</td>
          <td>{{ item.diaChi }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.sdt }}</td>
          <td id="icon_admin">
            <button  type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true" ></i></button>
            <button (click)="Showinfo(item.id)"  type="button" class="btn btn-success"><i class="fa fa-envelope" aria-hidden="true" ></i></button>

          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
          
          </td>
        </tr>
      </tfoot>
    </table>
    <div id="paging">
      <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="dataChange($event)"
    >
    </pagination-controls>
      </div>

  
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
  Launch
</button> -->

<!-- Modal -->



  
